.services-tittle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30vh;
    margin-left: 10vh;
    font-size: 0.5rem;
  }
  
.services-tittle span {
    position: absolute;
    display: block;
    right: 0%;
    width: 700px; /* Ancho de la línea */
    height: 1px;
    background-color: #84af6d; 
    box-shadow: 0 0 10px 3px rgba(132, 175, 109, 0.1);
    z-index: -1;
}

.services-tittle h1 {
    margin-right: 125px;
    margin-bottom: 5px;
}

.services-tittle h2 {
    font-size: 1.6rem;
    font-weight: 100;
    margin-top: 0px;
    opacity: 0.7;
}

.services-content {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 80px;
}

.services-paragraph {
    max-width: 600px;
    padding: 5px 30px;
}

.icon-tittle {
    margin: 0;
}

.tittle-paragraph {
    font-size: 1.4rem;
    /* color: #0096D2; */
    line-height: 0.5;
}

.text-paragraph {
    font-size: 1.1rem;
    line-height: 1.2;
    opacity: 0.6;
    margin-top: 0;
}

.blockchain-image {
    width: 120px;
    opacity: 0.7;
}

@media (max-width: 1470px) {
    .services-content {
        margin-left: 3vh;
        padding-right: 3vh;
        gap: 20px;
    }
}
  
@media (max-width: 1013px) {
    .solutions-content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .services-tittle {
        align-items: center;
        margin-right: 0vh;
        font-size: 0.5rem;
      }

    .services-tittle h1 {
        font-size: 1.5rem;
        margin: auto;
    }
    .services-tittle h2 {
        margin-bottom: 10px;
    }

    .tittle-paragraph {
        font-size: 1.1rem;
        line-height: 1;
    }
    
    .text-paragraph {
        font-size: 0.8rem;
        line-height: 1.2;
    }
}

@media (max-width: 716px) {  
    .services-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .services-tittle {
        align-items: center;
        margin-right: 0;
      }
      
    .services-tittle span {
        right: 26%;
        width: 700px; /* Ancho de la línea */
    }
    
    .services-tittle h1 {
        margin-left: 20px;
        margin-bottom: 10px;
    }
    
    .services-tittle h2 {
        font-size: 1.1rem;
        margin-bottom: 0px;
    }

    .blockchain-image {
        width: auto;
    }

    .column1 {
        order: -1;
    }
}

@media (max-width: 420px) {
    .solutions-content {
        margin-left: 2vh;
    }

    .solutions-content p {
        font-size: 1rem;
        margin-top: 5px;
    }
}