.about {
  display: flex;
  flex-direction: column;
}

.main-section {
  min-height: 100vh;
}

.solutions-section {
  padding-top: 10vh;
  min-height: 90vh;
}

.services-section {
  padding-top: 10vh;
  min-height: 70vh;
}

.founders-section {
  padding-top: 30vh;
  min-height: 60vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 40vh;
  margin-left: 30vh;
  line-height: 0.9;
}

.hexagons1-background {
  position: absolute;
  /* width: 60vh; */
  top: 40%;
  left: 45%;
  z-index: -1;
}

.locator-bar {
  position: fixed;
  top: 30%;
  left: 5%;
  z-index: 1;
}

@media (max-width: 850px) {
  .main-content {
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
    margin-left: 0;
    min-height: 60vh;
  }
}

@media (max-width: 576px) {
  .main-content {
    margin-top: 10vh;
  }
}