.about {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 45vh;
  margin-left: 20vh;
  line-height: 0.9;
}

.hexagons1-background {
  position: absolute;
  width: 50vh;
  height: 50vh;
  top: 40%;
  left: 60%;
}

@media (max-width: 850px) {
  .main-content {
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
    margin-left: 0;
    min-height: 60vh;
  }
}