.manage-access {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
}

.manage-passwpord {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.access-section {
    margin-top: 10vh;
    margin-left: 30vh;
}

.password-manager-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hexagons2-background-managepage {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: -1;
    height: auto;
}

@media (max-width: 1050px) {
    .manage {
        justify-content: center;
    }

    .access-section {
        margin-top: 15vh;
        margin-left: 5vh;
    }
}

@media (max-width: 800px) {
    .hexagons2-background-managepage {
        display: none;
    }
}