.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    height: 100vh;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-form {
    width: 250px;
}

.input-group-password-register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.input-group {
    width: 100%;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}

.signup-heading h2 {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 0px;
}
  
.welcome-text span {
    font-size: 85px;
    line-height: 0.9;
}
  
.welcome-text span:nth-child(1) {
    padding-left: 0px;
}
.welcome-text span:nth-child(2) {
    color: #0096D2;
    padding-left: 250px;
}

.hexagons2-background {
    position: absolute;
    top: 0%;
    left: 52%;
    z-index: -1;
    height: auto;
}

.correct-container {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
.correct-message {
   color: rgb(0, 137, 7);
   font-size: 0.8rem;
   font-weight: 400 !important;
}
.correct-icon {
   width: 15px;
}

.privacy-policy-agree-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 300;
    opacity: 0.9;
    bottom: 0;
    margin-bottom: 10px;
}
.privacy-policy-agree-text span {
    margin-left: 3px;
}
.privacy-policy-agree-text span:hover {
    text-decoration: underline;
}

@media (max-width: 1509px) {
    .hexagons2-background {
        top: 30%;
        left: 10%;
    }
}

@media (max-width: 1160px) {
    .signup-page {
        flex-direction: column;
        gap: 2px;
        height: 100vh;
    }

    .welcome-text {
        order: -1;
        margin-bottom: 10px;
    }

    .welcome-text span {
        font-size: 60px;
    }

    .welcome-text span:nth-child(2) {
        padding-left: 150px;
    }
}

@media (max-width: 800px) {
    .hexagons2-background {
        display: none;
    }

    .welcome-text span {
        font-size: 40px;
    }

    .welcome-text span:nth-child(2) {
        padding-left: 100px;
    }

    .login-form {
        padding: 30px 40px;
    }
}

@media (max-width: 400px) {
    .login-logo {
        position: relative;
      }

    .signup-page {
        padding-top: 0px;
    }

    .login-form {
        padding: 40px 0px;
        box-shadow: none;
        animation: fadeInUp 0.5s ease forwards;
    }

    .welcome-text {
        margin-bottom: 5px;
    }

    .privacy-policy-agree-text {
        position: relative;
        font-size: 0.7rem;
        bottom: 1;
        margin-bottom: 10px;
    }
}