.footer-content {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 200px;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

footer p {
    padding: 0 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer span {
    width: 900px; /* Ancho de la línea */
    height: 1px;
    background-color: #f4f4f4; 
    box-shadow: 0 0 10px 3px rgba(0, 150, 210, 0.2);
    opacity: 0.5;
    margin-top: 30px;
    z-index: -1;
}


@media (max-width: 950px) {
    footer span {
        width: 300px; /* Ancho de la línea */
    }
 }

@media (max-width: 576px) {
    .footer-content {
        justify-content: space-between;
        gap: 0;
        font-size: 0.8rem;
    }
}

@media (max-width: 350px) {
    .footer-content {
        font-size: 0.7rem;
    }
}