nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    padding: 0px 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: #f4f4f4;
    transition: 0.2s ease-in-out;
}

.navbar li a:hover {
    color: #84af6d;
}

.navbar li a:hover::after,
.navbar li a.active::after {
    content: "";
    width: 30%;
    height: 1px;
    background: #84af6d;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.logo {
    width: 50px;
    height: 50px;
}

.icon-menu {
    display: none;
    width: 45px;
    height: 45px;
    /* position: absolute; */
}

@media (max-width: 850px) {
    .icon-menu {
        display: flex;
        padding-left: 30px;
    }

    .logo {
        padding-right: 30px;
    }

    .icons {
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: start;
        padding: 0;
    }

    .navbar.open {
        display: flex;
        width: 100%;
        background: #1c1c1c;
        z-index: 10;
        opacity: 0.95;
        margin: auto;
        padding: 0;
    }

    .navbar {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .navbar li {
        margin: 10px 0px;
    }

    .login-button {
        display: none;
    }
}