.password-manager h1 {
    font-size: 3rem;
    font-weight: 500;
}

.password-manager-container {
    padding: 30px;
}

.password-manager-table {
    /* display: flex;
    flex-direction: row;
    gap: 10px; */
    padding: 30px 40px;
    border-radius: 8px;
    background-color: #1c1c1c;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.5s ease forwards;
    width: 90vh;
    border-collapse: separate; /* Para separar las celdas */
    border-spacing: 0 15px; /* Espacio entre filas (vertical) */
}

.column-tittle {
    text-align: left;
    color: #31DAFF;
    font-size: 1.5rem;
    font-weight: 400;
}

.password-manager-table tr:last-child {
    border-bottom: none; /* Línea inferior para cada fila */
}

.password-manager-table th {
    padding-bottom: 15px /* La fila título */
}

.password-manager-table td {
    border-bottom: 1px solid rgba(244, 244, 244, 0.5);/* Línea inferior para cada fila */
    padding-bottom: 15px
}