.password-manager {
    width: 80%;
}

.password-manager h1 {
    font-size: 3rem;
    font-weight: 500;
}

.password-manager-container {
    padding: 30px;
    margin-bottom: 30px;
}

/* ESTILOS DE LOS BLOCKES */
.password-manager-block {
    overflow-x: auto;
    white-space: nowrap;
    animation: fadeInUp 0.5s ease forwards;
}

.blocks-lines {
    display: flex;
    flex-direction: row;
}
.chian_line_icon {
    max-width: 90px;
}

.blocks {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 20px;
    width: 200px;
    background-color: #1c1c1c;
    border: 1px solid rgba(244, 244, 244, 0.8);
    border-radius: 20px;
}

.block-section {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tittle-block-section {
    font-size: 0.8rem;
}

.text-block-section {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    color: #84af6d;
    font-size: 1.2rem;
}
.platform {
    color: #0096D2;
    font-size: 1.3rem;
}
.input-modify-platform {
    color: #0096D2;
    font-size: 1.3rem;
    width: 70%;
}

.key-block-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.input-modify-key {
    color: #84af6d;
    font-size: 1.2rem;
    width: 70%;
}

.modify-block-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btn-modify-password {
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    opacity: 0.8;
}
.btn-modify-password:hover {
    text-decoration: underline;
}


/* ESTILOS DE LA TABLA */
.table-vertical-scroll {
    max-height: 350px;
    overflow-y: auto;
}

.password-manager-table {
    /* display: flex;
    flex-direction: row;
    gap: 10px; */
    padding: 20px 40px;
    border-radius: 8px;
    background-color: #1c1c1c;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.5s ease forwards;
    width: 100%;
    border-collapse: separate; /* Para separar las celdas */
    border-spacing: 0 15px; /* Espacio entre filas (vertical) */
}

.column-tittle {
    text-align: left;
    color: #31DAFF;
    font-size: 1.5rem;
    font-weight: 400;
}

.btn-add-password {
    padding: 7px 10px;
    background-color: #0096D2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.eye_icon {
    max-width: 30px;
    cursor: pointer;
}

.password-manager-table tr:last-child {
    border-bottom: none; /* Línea inferior para cada fila */
}

.password-manager-table th {
    padding-bottom: 15px /* La fila título */
}

.password-manager-table td {
    border-bottom: 1px solid rgba(244, 244, 244, 0.5);/* Línea inferior para cada fila */
    padding-bottom: 15px
}

@media (max-width: 970px) {
    .toggle-switch {
        display: none;
        pointer-events: none;
    }
    .toggle-switch input {
        display: none;
        pointer-events: none;
    }
    .slider {
        display: none;
        pointer-events: none;
    }
    .text-switch {
        display: none;
        pointer-events: none;
    }
}

@media (max-width: 800px) {
    .password-manager {
        width: 90%;
    }

    .password-manager h1 {
        font-size: 2.5rem;
        margin-left: 5vh;
    }
}