:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  color-scheme: light dark;
  color: #f4f4f4;
  background-color: #1c1c1c;

  /* background-image: url('./assets/images/background.svg');  */
  /* background-size: cover;  */
  /* background-position: center;  */
}

a {
  text-decoration: inherit;
}

button {
  font-family: "Montserrat", sans-serif;
}

/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
}

h1 {
  font-size: 4.5em;
}

/* background: #1c1c1c; */
/* background: #f4f4f4; */

/* background: #0096D2; */
/* background: #84af6d; */
